
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(85, 22, 3);
    font-family: "Roboto Mono", monospace;
    color:white;
}
h2 {
    text-align: center;
}
.title_link{
    color:white;
    text-decoration: none;
}
p {
    margin:10px;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size:20px
}

img {
    margin:auto;
    display:block;
    max-width: 100%;
    height: auto;
}
h2.homelab_header {
    text-align: unset;
}
hr.homelab_header {
    width: 20%;
    margin-inline-start: 0;
    margin-inline-end: auto;
}